#mal_cs_powered {
	/* Don't let the control strip's rightmost td overlap with the inserted controls. */
	position: static !important;
	vertical-align: middle;
}

.mal-ext-popover {
	position: absolute;
	display: none;
	background-color: #D5EFFF;
	border: 3px ridge #888888;
	width: 250px;
	overflow: auto;
}

.mal-ext-popover-inner {
	padding: 4px;
}

.mal-ext-popover-header {
	font-weight: bold;
}

.mal-ext-close-popover {
	cursor: pointer;
}

.mal-ext-close-popover-span {
	float: right;
	padding-left: 5px;
	padding-bottom: 5px;
}

[id^=more] table {
	margin-left: 20px;
	width: calc(100% - 20px);
}

#mal_cs_otherlinks, .mal-ext-filter-section, .mal-ext-sorting-section{
	border-right: 1px solid #7e7e7e;
}

#mal_cs_otherlinks {
	width: 300px;
}

.mal-ext-filter-section {
	padding: 0 1em;
	width: 300px;
}

.mal-ext-sorting-section {
	padding: 0 1em;
	width: 275px;
}

.mal-ext-filter-container {
	padding: 0 5px;
}

.mal-ext-hidden {
	display: none;
}

.mal-ext-active-filter {
	display: inherit;
}

.mal-ext-anime-container.mal-ext-row-color1 td:not(.mal-ext-info-col) {
	/* Overrides td color for filtering and sorting */
	background-color: #FFFFFF;
}

.mal-ext-anime-container.mal-ext-row-color2 td:not(.mal-ext-info-col) {
	/* Overrides td color for filtering and sorting */
	background-color: #F1F1F1;
}