.mal-ext-popover {
	position: absolute;
	display: none;
	background-color: #D5EFFF;
	border: 3px ridge #888888;
	width: 250px;
	overflow: auto;
}

.mal-ext-popover-inner {
	padding: 4px;
}

.mal-ext-popover-header {
	font-weight: bold;
}